h1 {
  color: green;
  /* Multiple matches must be met */
  /* Multiple but any one that matches will trigger */
}
@media (min-width: 30em) {
  h1 {
    color: red;
  }
}
@media (min-width: 40em) {
  h1 {
    color: darkblue;
    background-color: lightblue;
  }
}
@media (min-width: 50em) {
  h1 {
    color: black;
    font-size: 3em;
    padding: 2em;
    border: none;
  }
}
