@charset "UTF-8";

h1 {
  color: green;

    @media (min-width: 30em) {
        color: red;
    }

    @media (min-width: 40em) {
        color: darkblue;
        background-color: lightblue;
    }

    /* Multiple matches must be met */
    // @media (min-width: 40em) and (max-width: 45em) {
    //     color: darkblue;
    //     background-color: lightblue;
    // }

    /* Multiple but any one that matches will trigger */
    // @media (min-width: 40em), (min-height: 20em) {
    //     color: darkblue;
    //     background-color: lightblue;
    //     border: 10px solid green;
    // }

    @media (min-width: 50em) {
        color: black;
        font-size:3em;
        padding: 2em;
        border: none;
    }   
}



    


    